body {
  margin: 0;
}

#background {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #2c2c2c; 
  background: radial-gradient(ellipse at center, #2c2c2c 1%, #0d0011 100%); 
}

#logocontainer {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 34vh;
  height: 34vh;
  margin-left: -17vh;
  margin-top: -17vh;
  overflow: hidden;
  transition: background-color 500ms;
  cursor: pointer;
  
}

#pelogo {
  display: block;
  position: absolute;
  left: 2vh;
  top: 2vh;
  width: 30vh;
  height: 30vh;
  background: #d4af37; 
  font-family: Trebuchet MS, sans-serif;
  font-size: 10vh;
  font-weight: bold;
  color: #2c2c2c; 
  text-align: center;
  line-height: 30vh;
}

.loader {
  display: block;
  position: absolute;
  background-color: #d4af37; 
  border: 0.5px solid #caa220;
}


@keyframes slide1 {
  50% { width: 32vh; margin-left: 0; }
  100% { margin-left: 32vh; }
}

@keyframes slide2 {
  50% { height: 32vh; margin-top: 0; }
  100% { margin-top: 32vh; }
}

@keyframes slide3 {
  50% { width: 32vh; margin-right: 0; }
  100% { margin-right: 32vh; }
}

@keyframes slide4 {
  50% { height: 32vh; margin-bottom: 0 }
  100% { margin-bottom: 32vh; }
}
